{% extends '_layout.html' %}
{% block title %}{{ title }}{% endblock %}

{% block navheader %}
    {% include 'includes/navheader_employee_app.html' %}
{% endblock %}

{% block content %}
    <section class="content">
        <section class="container-fluid">
            <section class="row">
                <section class="col col-lg-12 text-center">
                    <div class="text-center table-description">
                			<h4 class="title-h3" style="color: #60a0b3 !important;
    						text-shadow: 1px 0px rgba(0,0,0,0.11)">СПИСОК УВОЛЕННЫХ СОТРУДНИКОВ</h4>
                		</div>
                </section>
            </section>
            <!-- TABLE -->
            <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Табельный номер</th>
            <th scope="col">Сотрудник (полное имя)</th>
            <th scope="col">Должность</th>
            <th scope="col">Департамент</th>
            <th scope="col">Статус</th>
            <th scope="col">Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.employeeid }}</td>
            <td>{{ employee.get_full_name }}</td>
            <td>{{ employee.role }}</td>
            <td>{{ employee.department }}</td>
            {% if employee.is_terminated %}
            <td>Уволен</td>
            {% else %}
            <td>Активен</td>
            {% endif %}
        <td><a href="{% url 'dashboard:employeeinfo' employee.id %}">Подробнее</a>

							      </td>
            <td><a href="{% url 'dashboard:employee_unterminate' employee.id %}">Восстановить</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

            <!-- /TABLE -->
        </section> <!-- /container -->
    </section>
{% endblock %}

<script type="text/javascript">
    {% block extrajs %}
    /*create-user-button - handler*/

    // $(document).ready(function(){
    // var createuser = $('.create-user-model');
    // createuser.on('click',function(){
    // alert("who clicked me ?")
    // });
    // });
    {% endblock %}
</script>
