 {% load static %}
 <nav class="navbar navbar-default navbar-fixed shadow">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="">Dashboard </a> -->
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">

                        <li>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <i class=""></i>
                                <p class="hidden-lg hidden-md">Панель</p>
                            </a>
                        </li>

                        
                        <li class="dropdown">
                              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
                                        Отпуск
                                        <b class="caret"></b>
                                    </p>

                              </a>
                              <ul class="dropdown-menu">
                                {% if request.user.is_superuser %}
                                <li><a href="{% url 'dashboard:leaveslist' %}">График отпусков</a></li>
                                <li><a href="{% url 'dashboard:approvedleaveslist' %}">Утверждённые заявления на отпуск</a></li>
                                <li><a href="{% url 'dashboard:canceleaveslist' %}">Отменённые заявления на отпуск</a></li>
                                <li><a href="{% url 'dashboard:leavesrejected' %}">Отклонённые заявления на отпуск</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'dashboard:createleave' %}">Сохранить отпуск сотрудника</a></li>
                                {% else %}
                                <li><a href="{% url 'dashboard:createleave' %}">Сохранить отпуск сотрудника</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'dashboard:staffleavetable' %}">Все отпуска</a></li>
                                {% endif %}
                              </ul>
                        </li>
                        

                        {% if request.user.is_superuser and request.user.is_staff %}
                        <li class="dropdown">
                              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
                                        Сотрудники
                                        <b class="caret"></b>
                                    </p>

                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="{% url 'dashboard:employeecreate' %}">Добавить сотрудника</a></li>
                                <li><a href="{% url 'dashboard:employees' %}">Все сотрудники</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'dashboard:emergencycreate' %}">+ Экстренные контакты</a></li>
                                <li><a href="{% url 'dashboard:familycreate' %}">+ Семья</a></li>
                                <li><a href="{% url 'dashboard:bankaccountcreate' %}">+ Информация об условиях труда (заработная плата)</a></li>
                                <li><a href="{% url 'dashboard:documentcreate' %}">+ Документ</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'accounts:erasedusers' %}">Удалённые сотрудники</a></li>
                              </ul>
                        </li>
                        {% endif %}

                        {% if request.user.is_superuser and request.user.is_staff %}
                        <li class="dropdown">
                              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
                                        Пользователи
                                        <b class="caret"></b>
                                    </p>

                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="{% url 'accounts:register' %}">Создать пользователя</a></li>
                                <li><a href="{% url 'accounts:users' %}">Все пользователи</a></li>
                              </ul>
                        </li>
                        {% endif %}


                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'dashboard:birthdays' %}" title="upcoming birthday" >
                                <i class="pe-7s-gift"></i>
                            </a>
                        </li>

                        <li class="dropdown">
                              <a href="" class="dropdown-toggle refresh-page" data-toggle="dropdown" title="refresh current page">
                                    <i class="pe-7s-refresh-2"></i>
                                    <b class="hidden-lg hidden-md"></b>
                                    <p class="hidden-lg hidden-md">
                                         refresh
                                    
                                    </p>
                              </a>
                        </li>

                        <li class="dropdown">
                              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
                                        <i class="fa fa-user"></i> {{ request.user}}
                                        <b class="caret"></b>
                                    </p>

                              </a>
                              <ul class="dropdown-menu">
                                {% if request.user.is_authenticated %}
                                <li><a href="{% url 'accounts:logout'  %}">Выйти</a></li>
                                {% else %}
                                <li><a href="{% url 'accounts:login'  %}">Войти</a></li>
                                {% endif %}
                                <li><a href="{% url 'accounts:userprofile' %}">Профиль</a></li>
                                <li><a href="{% url 'accounts:changepassword' %}">Сменить пароль</a></li>
                                <!-- <li class="divider"></li>
                                <li><a href="">Settings</a></li> -->
                              </ul>
                        </li>

                        <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>